body{
    background: #f5d04e ;   
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;      
}

#card{
    border: solid 1px;
    padding: 25px;
    width: 325px; 
    background-color: white;
    border-radius: 20px
}

#card > img{
    border-radius: 10px
}

#information > h4{
    background: #f5d04e;
    margin-right: 75%;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 14px;
}

#information > h5{
    margin: 10px 20px 20px 0px;
}

#information > p{
    color: gray;
    font-size: 17px;
}

#peaple{
    display: flex;
}